@import url('https://fonts.googleapis.com/css2? family= Fraunces:opsz,wght@9..144,700 & family= Montserrat:wght@500;700 & display=swap');

/*font-family: 'Fraunces', serif;
família da fonte: 'Montserrat', sans-serif;*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    /**/
    font-family: 'Montserrat', sans-serif;

    /**/
    background-color: hsl(30, 38%, 92%);

    /**/
    font-size: 14px;

    /**/
    min-height: 100vh;
    display: flex;
    /**/
    justify-content: center;
    /**/
    align-items: center;
}

/**/
.container {
    margin: 30px auto;
    padding: 0 30px;
}

/**/
.grid {
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}

/**/
.img img {
    /**/
    display: inherit;

    /**/
    max-width: 100%;
}

/**/
.card-content {
    /**/
    padding: 35px;
    display: flex;

    /**/
    flex-direction: column;

    /**/
    justify-content: space-between;
}

/*Título de nível 6. Título PERFUME.*/
h6.pro-cat {
    color: hsl(228, 12%, 48%);

    /**/
    font-size: 13px;

    /**/
    font-weight: 500px;

    /**/
    text-transform: uppercase;

    /**/
    letter-spacing: 3px;

    padding: 32px;
}

/*Título de nível 2. Título Gabrielle Essence. Logo abaixo do título h6.*/
h2.pro-name {
    font-family: 'Fraunces', serif;
    font-size: 34px;
    line-height: 1em;
    color: hsl(212, 21%, 14%);
    padding: 32px 32px;
}

/**/
p.pro-des {
    color: hsl(212, 21%, 14%);
    line-height: 1.6em;
    padding: 32px 32px;
    font-size: 16px;
}

/*Seletor */
.price {
    display: flex;
    align-items: center;
    padding: 10px 32px;
}

/**/
p.current-price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 25px;
    padding: 10px;
    padding-right: 25px;
}

/**/
p.old-price {
    color: hsl(228, 12%, 48%);

    /*text-decoration: line-through; serve para deixar o texto com uma linha horinzontal em cima. Exemplo: Preço antigo de um produto que está com desconto.*/
    text-decoration: line-through;
}

/**/
button.cta {
    background-color: hsl(158, 36%, 37%);
    border: none;
    padding: 14px 0;
    border-radius: 12px;
    color: white;
    font-size: 17px;
    font-weight: 700px;

    /*Cursor: pointer; serve para quando passar o cursor do mouse em cima de algo especifíco, aconteça algo. No caso desse seletor, vai mudar de cor, é uma cor meio escura/meio claro.*/
    cursor: pointer;

    /**/
    transition: background-color .3 ease;

    /**/
    width: 80%;
}

/**/
button.cta:hover {
    /*background-color: hsl(158, 36%, 37%); é a cor em hsl do botão de adicionar cartão.*/
    background-color: hsl(158, 37%, 46%);
}

/**/
button.cta img {
    /*padding-right: 7px; é a direção da imagem do botão de adicionar cartão, 7px para a direita.*/
    padding-right: 7px;
}

/**/
@media screen and (max-width:628px) {

    /**/
    .grid {
        /**/
        grid-template-columns: 1fr;
    }

    /**/
    .img img {
        max-height: 450px;
        width: 100%;
        object-fit: cover;
    }

    /**/
    .card-content {
        display: block;
    }

    /**/
    h6.pro-cat,
    h2.pro-name,
    p.pro-des,
    .price {
        padding-bottom: 23px;
    }
}

/**/
@media screen and (max-width: 375px) {

    /**/
    .container {
        margin: 15px auto;
        padding: 0 15px;
    }

    /**/
    .img img {
        max-height: 290px;
    }

    /**/
    .card-content {
        padding: 24px;
    }

    /**/
    h6.pro-cat,
    h2.pro-name,
    p.pro-des,
    .price {
        padding-bottom: 16px;
    }

    /**/
    h2.pro-name {
        font-size: 28px;
    }

    /**/
    p.pro-des {
        font-size: 12px;
    }

    /**/
    p.current-price {
        font-size: 23px;
    }

    /**/
    button.cta {
        padding: 12px 0;
        font-size: 13px;
    }
}